@import "../../styles/_main.scss";
.dashboard {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.dashboard-content{
  position: relative;
  left: 250px;
  width: 80%;
}
.dashboard-title{
  font-family: "Source Sans Pro";
  font-size: 24px;
  color: #333333;
  height: 30px;
  margin: 0;
}
